language: php

php:
    - 7.1

before_install:
    - travis_retry composer self-update

install:
    - travis_retry composer install --no-interaction --prefer-dist

script:
    - vendor/bin/phpunit --verbose
    - vendor/bin/phpmd src text phpmd.xml --exclude src/database
    
after_success:
    - bash <(curl -s https://codecov.io/bash)

matrix:
    fast_finish: true
